// Responsive stuff
$largeDesktop = 1441px
$desktop = 1025px
$tablet = 781px
$mobile = 481px


// Layout
$siteVerticalPadding = 80px
$siteHorizontalPadding = 50px


// Promo cards
$promoCardFontSize = 16px
$promoCardTabletFontSize = $promoCardFontSize * 0.9
$promoCardMobileFontSize = $promoCardFontSize * 0.8
$promoCardSmallMobilesFontSize = 12px
$promoCardWidth = 25em
$promoCardMobileWidth = 24em
$promoCardHeight = 12.5em
$promoCardOffset = 2.8125em
$promoCardMobileOffset = .5em


// Colors
$accent = #FF7F00


// Fonts
$fontSize = 18px
$lineHeight = 1.2
$baseLine = $fontSize * $lineHeight
$fontFamily = GillSans, Helvetica Neue, Helvetica, Arial, sans-serif
