// Regular
@font-face
	font-family 'GillSans'
	src url('../fonts/gill-sans/regular.woff2') format('woff2'),
			url('../fonts/gill-sans/regular.woff') format('woff')
	font-style normal
	font-weight 400


// Bold
@font-face
	font-family 'GillSans'
	src url('../fonts/gill-sans/bold.woff2') format('woff2'),
			url('../fonts/gill-sans/bold.woff') format('woff')
	font-style normal
	font-weight 700


// ExtraBold
@font-face
	font-family 'GillSans'
	src url('../fonts/gill-sans/extrabold.woff2') format('woff2'),
			url('../fonts/gill-sans/extrabold.woff') format('woff')
	font-style normal
	font-weight 900
