mixin content()
	+b.content&attributes(attributes)
		+e.row
			+e.col--1-2
				p Вряд&nbsp;ли наклейкой вы&nbsp;кого-то убедите использовать феминитивы. Не&nbsp;обязательно сражаться, даже использовать феминитивы&nbsp;&mdash; это уже важно и&nbsp;полезно. Наклейка поможет решить несколько штук.
		+e.row
			+e.col--1-4
				+e.P.h3 Начать
				p Кому-то сложно начать говорить про себя, используя феминитивы.
				p Это дело привычки: стоит начать&nbsp;&mdash; и&nbsp;привыкаешь. Наклейка поможет принять решение и&nbsp;начать.
			+e.col--1-4
				+e.P.h3 Прояснить
				p Кто-то считает, что феминитивы&nbsp;&mdash; это правильно. Но&nbsp;им&nbsp;неловко их&nbsp;говорить. Многие женщины считают, что это звучит неуважительно.
				p Наклейка поможет понять, что&nbsp;к&nbsp;вам можно и&nbsp;стоит так обращаться.
			+e.col--1-4
				+e.P.h3 Рассказать
				p Кто-то вообще не&nbsp;знает, что существуют феминитивы.
				p Наклейка покажет, что они есть. Кто-то что-то спросит у&nbsp;вас, а&nbsp;вы&nbsp;расскажете.
			+e.col--1-4
				+e.P.h3 Объяснить
				p Кто-то будет несогласен.
				p Наклейка поможет ненавязчиво спровоцировать дискуссию. У&nbsp;вас спросят, а&nbsp;вы&nbsp;объясните, почему феминитивы&nbsp;&mdash; это важно.
		+e.row
			+e.col-1-2
				p Чтобы убедительнее объяснять и&nbsp;рубиться в&nbsp;дискуссиях, почитайте:
				ul
					li
						a(href='feministki.livejournal.com/3408799.html') Не женское это дело
						| &nbsp;&mdash; о&nbsp;феминитивах и&nbsp;гендерной чувствительности в&nbsp;русском языке;
					li
						a(href='vk.com/topic-108546632_33440289') Противники феминитивов
						| &nbsp;&mdash; лол фимизитивы спасибо не&nbsp;надо.
				p Если не&nbsp;хватает какого-то феминитива, #[a(href=jv0) добавьте].
