$colors = {
	accent: $accent,
	green: #0AA323,
	red: #FF0000,
	blue: #00A0C6,
	purple: #8916D3,
	white: #FFFFFF,
	brown: #D59758,
	black: #000000,
	pink: #FF8D8D,
}

.colored-hero
	position relative
	display block
	size($promoCardWidth, $promoCardHeight)
	padding 0.5625em 1.625em
	font-size $promoCardFontSize
	border-radius 2em
	border 1px solid #fff
	transition none
	pointer-events none

	+below($desktop)
		font-size $promoCardTabletFontSize

	+below($tablet)
		font-size $promoCardMobileFontSize

	+below($mobile)
		width $promoCardMobileWidth
		font-size $promoCardSmallMobilesFontSize

	&:hover
		color inherit
		border-color inherit

	&::after
		content ''
		position absolute
		top 0
		right 0
		bottom 0
		width $promoCardOffset
		pointer-events all

	&:first-child
		pointer-events all

	for color, value in $colors
		&[data-color=\"{color}\"]
			background value

	&__title
		display block
		font-weight 900
		font-size 6.5em
		line-height 1

		.colored-hero[data-color="white"] &
			color #000

	&__annotation
		display block
		width 70%
		font-size 1.125em
		color #000

		.colored-hero[data-color="black"] &,
		.colored-hero[data-color="red"] &,
		.colored-hero[data-color="purple"] &
			color #fff
