mixin header()
	+b.header&attributes(attributes)
		+e.P.label Наклейки на&nbsp;ноутбук #[+e.SPAN.muted и&nbsp;скоро плакат]
		+e.H1.title Феминитивы
		+e.P.subtitle Чтобы помочь использовать феминитивы тем, кто считает, что это правильно, и&nbsp;ненавязчиво провоцировать обсуждение с&nbsp;теми, кому интересно.
