mixin footer()
	+b.footer&attributes(attributes)
		+e.P.text
			| Придумал и&nbsp;задизайнил 
			a(href='http://jeniasofronov.ru') Женя Софронов
			| , сверстал 
			a(href='http://andrew-r.ru') Андрей Романов
			| , консультировали 
			a(href='https://vk.com/daria_kozlova') Дарья Козлова
			| , 
			a(href='https://vk.com/kolsanova') Ася Колсанова
			| , 
			a(href='https://vk.com/id1222888') Варя Михайлова
			|  
			| и&nbsp;
			a(href='https://vk.com/chapkevich') Ксения Чапкевич
			|  
			| ·&nbsp;#[a(href='https://goo.gl/1mGLla') Макеты и правила]&nbsp;· 
			| Пишите: 
			a(href='mailto:jenia.sofronov@gmail.com') jenia.sofronov@gmail.com
